<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Enter new Location</h3>
       <form action="/list" method="post">
        <input type="text" name="title" placeholder="Enter your title">
        <input type="text" name="description" placeholder="Enter your description">
        <input type="text" name="image" placeholder="Enter your URL">
        <input type="number" name="price" placeholder="Enter your price">
        <input type="text" name="location" placeholder="Enter your location">
        <input type="text" name="country" placeholder="Enter your country">
       <button>Post</button>
       </form>        
</body>
</html>